<<<<<<< HEAD
<<<<<<< HEAD
=======
.Level {
=======
#Level {
>>>>>>> cfe5e57bc7b764aec017d2e8b7da57e49c09ff90
color: black;
}

/*unless it has a class that says otherwise */
#Level.special{
    color: red;
}

ul {
    list-style-type: none;
}