img {
    width: 25%;
    height: 75%;
    display: inline-block;
  }

main {
  display: flex;
  justify-content: center;
  
}

iframe {
  margin: 5px;
}

#addEvent {
  background-color: #E61A5A;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}