@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

html, body {
  font-family: "Roboto", "Source+Sans+Pro";
  background-image: url("background_img_school.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f9;
  position: relative;
  min-height: 100vh;
  margin: 0px, 0px, 0px, 0px;
  padding: 0px, 0px, 0px, 0px;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px, 5px, 0px, 5px;
  background-color: rgb(241, 237, 237);
  border-radius: 20px;
  margin-left: -10px;
  margin-right: -10px;
}
.logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
main {
  display: flex;
  flex-wrap: wrap;
  padding: 0px, 0px, 0px, 0px;
}

footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px, 0px, 0px, 0px;
  margin: 0px, 0px, 0px, 0px;
}

.buttonFooter {
  background-color: #4B4998;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  width: 100px;
}

button.signout {
  background-color: #4B4998;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

/* unvisited link */
button a:link {
  color: white;
  text-decoration: none;
;
}

/* visited link */
button a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
button a:hover {
  color: #FFffff;
}

/* selected link */
button a:active {
  color: black;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: underline;
;
}
/* visited link */
a:visited {
  color: black;
  text-decoration: underline;
}
/* mouse over link */
a:hover {
  color: #E61A5A;
}
/* selected link */
a:active {
  color: #FDC309;
}