img {
    width: 25%;
    height: 75%;
    display: inline-block;
  }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
}

h2 {
    color: #4B4998;
}