body {
    display: flex;
    flex-flow: column;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 275px;
    height: 275px;
    display: inline-block;
    margin: 75px 0px 0px 0px;
}

.LoginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 10px;
    width: fit-content;
    background-color: lightgrey;
    border:solid;
    border-color: #4B4998;
    border-width:thick;
    border-radius: 50px;
    margin: 0px 0px 50px 0px;
  
  }